@page
@model LoginModel

@{
    ViewData["Title"] = "Sign in";
}

<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-5">
        <section>
            <form id="account" method="post">
                <div class="social-login">
                    <button class="btn facebook-btn social-btn" type="button"><span><i class="fab fa-facebook-f"></i> Sign in with Facebook</span> </button>
                    <button class="btn twitter-btn social-btn" type="button"><span><i class="fab fa-twitter"></i> Sign in with Twitter</span> </button>
                    <button class="btn google-btn social-btn" type="button"><span><i class="fab fa-google-plus-g"></i> Sign in with Google+</span> </button>
                </div>
                <p class="text-center">OR</p>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    <input asp-for="Input.Email" class="form-control" placeholder="username" />

                </div>
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                    </div>
                    <input asp-for="Input.Password" class="form-control" placeholder="password" />

                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <button type="submit" class="btn btn-primary btn-block">Log in</button>
                    </div>
                    <div class="form-group col-md-6">
                        <a asp-page="./Register" class="btn btn-info btn-block" asp-route-returnUrl="@Model.ReturnUrl">Register</a>
                    </div>
                </div>
                <div class="form-group">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
